    <div class="dropdown__container">
        <div class="dropdown__content row">
            <h3>{{title}}</h3>
            <div class="dropdown__content-excerpt">
                {{{content}}}

                <figure class="thumb">
                    <img src="dist/img/error-pages/404.jpg" alt=""/>
                </figure>
                <figure class="thumb">
                    <img src="dist/img/error-pages/500.jpg" alt=""/>
                </figure>
                <figure class="thumb">
                    <img src="dist/img/error-pages/404.jpg" alt=""/>
                </figure>

            </div>
        </div>
    </div>
