    <div class="dropdown__container">
        <div class="dropdown__content row">
            <h3>{{title}}</h3>
            <div class="dropdown__content-excerpt">
                {{{content}}}
            </div>
        </div>
        {{#if attachments}}
            <div class="dropdown__images">
                {{#each attachments}}
                    <figure class="thumb">
                        <img src="{{url}}" alt=""/>
                    </figure>
                {{/each}}
            </div>
        {{/if}}
    </div>
