    <div class="dropdown__container">
        <div class="dropdown__content row">
            <h3>{{title}}</h3>
            <div class="dropdown__content-excerpt">
                {{{content}}}

                {{#if attachments}}
                    {{#each attachments}}
                        <figure class="thumb">
                            <img src="{{url}}" alt="{{caption}}"/>
                        </figure>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
