.columns {
    font-size: 0; //hack for display inline-block

    > * {
        font-size: 1rem;
    }
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 10px;

    &-3 {
        @include breakpoint(medium up) {
            width: 50%;
        }

        @include breakpoint (large up) {
            width: 33%;
            // max-width: 368.5px;
        }
    }

    &-2 {
        width: 100%;

        @include breakpoint(medium up) {
            width: 50%;
        }
    }
}
