$body: #DDDDDD;
$primary: #07C597;
$primary-light: lighten($primary, 10%);
$dark: #31384B;
$dark-lighten: #5D6A8F;
$white: #fff;
$text: #495370;
$text-light: #999;
$border: #ddd;

$red: red;
$blue: blue;
