.list-dots {
    margin: 0;
    padding: 0;

    li {
        @include inline-middle;
        padding: 0.5em 1.5em;
        border-radius: 25px;

        font-weight: 700;
        font-size: 0.85em;
        color: $text-light;
        letter-spacing: -0.5px;

        &:before {
            @include inline-middle;
            height: 10px;
            width: 10px;
            content: '';
            margin: -2px 10px 0 0;
            background: $primary;
            border-radius: 100%;
            border: 3px solid $primary-light;
        }
    }
}

.list-inline {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 400;
    
    li {
        list-style-type: none;
        @include inline-middle;

        &:after {
            @include inline-middle;
            content: '/';
            font-size: 1em;
            color: $black;
            margin: 0 15px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

    }
}
