$loader-height: 6px;

@keyframes loader1 {
    0% {
        left: 0;
    }

    50% {
        left: 150%;
    }

    100% {
        left: 0;
        width: 50%;
    }
}

@keyframes loader2 {
    0% {
        left: 100%;
    }

    50% {
        left: -50%;
    }

    100% {
        left: 100%;
    }
}

.loader {
    width: 100%;
    height: $loader-height;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
    &--visible {
        &:before {
            width: 50%;
            height: $loader-height;
            position: fixed;
            left: 0;
            top: 0;
            content: '';
            display: block;

            background: $primary;
            animation: loader1 2.5s infinite;
        }

        &:after {
            width: 50%;
            height: $loader-height;
            position: fixed;
            left: 100%;
            top: 0;
            content: '';
            display: block;

            background: $primary;
            animation: loader2 2.5s infinite;
        }
    }

}
