$project-bg: lighten($body, 10%);

.projects {
    padding: 40px 10px;
}

.project {
    display: block;
    position: relative;
    z-index: 2;
    outline: 0;
    transition: outline 0.1s ease-out;
    background: $project-bg;

    .column--expanded & {
        border-bottom: 5px solid $primary;
    }

    // &:hover {
    //     img {
    //         @include breakpoint(large up) {
    //             filter: grayscale(100%) brightness(150%) contrast(150%);
    //         }
    //     }
    // }
}

.project__info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    background: rgba($primary, 0.5);

    transform: scale(0);
    transition: transform 0.2s ease-out;

    .project:hover & {
        transform: scale(1);
    }

    &-name {
        font-size: 1.7em;
        // font-weight: 100;
        padding: 15px 20px;
        // text-shadow: 0px 0px 6px #000;
    }

    &-type {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
        transform-origin: left center;
    }

    50% {
        transform: rotate(360deg);
        transform-origin: left center;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: left center;
    }
}

.project__thumb {
    $step: 170px;

    width: $step;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url(../img/logos/sprite.png);
    background-repeat: no-repeat;
    background-position: $step 0;

    .projects .column:nth-child(2n) & {
        background-position: -($step*9) 0;
    }

    @include breakpoint(large up) {
        transition: background 1s linear;

        .project:hover & {
            filter: grayscale(100%) brightness(150%) contrast(150%);

            &:before, &:after {
                display: none;
            }
        }
    }

    &--loading {
        &:after {
            $circle-size: 2em;
            width: $circle-size;
            height: $circle-size;
            border: 3px solid $primary;
            border-radius: 100%;

            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:before {
            width: 1.8em;
            height: 1.8em;
            background: $project-bg;

            content: '';
            display: block;
            position: absolute;
            top: 30%;
            left: 50%;
            z-index: 2;

            animation-name: loading;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
}

// .label {
//     display: inline-block;
//     padding: 8px 12px;
//     background: $primary;
//     color: $white;
//     font-weight: 400;
//     font-size: 0.9em;
//
//     &--red {
//         background: $red;
//     }
//
//     &--blue {
//         background: $blue;
//     }
//
//     &--black {
//         background: $black;
//     }
// }
